# Force GitHub Linguist to recognize SQL files as code

# Generic SQL
*.sql linguist-language=SQL

# PostgreSQL specific extensions
*.pgsql linguist-language=PLpgSQL
*.psql  linguist-language=PLpgSQL

# Microsoft T-SQL
*.tsql linguist-language=TSQL

# Oracle PL/SQL
*.pls linguist-language=PLSQL
*.plsql linguist-language=PLSQL
